---
layout: default
---

<div class="container-article">
    <div class="article-title">
        {% include nav.html navclass='nav-top' %}

        <!-- Full screen overlay "About" -->
        <div id="myNav" class="info_overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <!-- &times; -->
            </a>
            <div class="overlay-content">
                <p>La NASA acronimo di National Aeronautics and Space Administration (in italiano: "Ente Nazionale per le attività Spaziali e Aeronautiche"), è l'agenzia governativa civile responsabile del programma spaziale e della ricerca aerospaziale degli Stati Uniti d'America.</p>
            </div>
            
        </div>

        <!-- Swiper gallery -->
        <div class="desktop-display">           
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% for image in site.static_files %}
                        {% if image.path contains 'homepage-desktop' %}
                         
                                <div class="swiper-slide">
                                    <div class="container-img">
                                        <img class="full-page-img" src="{{ site.baseurl }}{{ image.path }}" alt="image" />

                                        <!-- Add Arrows -->
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>                              
                                </div>

                            <!-- Tage black and white 
                            {% if image.basename contains 'black' %}
                                <div class="swiper-slide">
                                    <div class="container-img" data-bg="dark">
                                        <img class="full-page-img" src="{{ site.baseurl }}{{ image.path }}" alt="image" />

                                       
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>                               
                                </div>
                            {% endif %}
                            -->
                        {% endif %}
                    {% endfor %}

                </div>

                <!-- Add Pagination 
                <div class="swiper-pagination desktop"></div>
                -->
                
            </div>
        </div>

        <div class="mobile-display">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    {% for image in site.static_files %}
                        {% if image.path contains 'homepage-mobile' %}
                                <div class="swiper-slide">
                                    <div class="container-img">
                                        <img class="full-page-img" src="{{ site.baseurl }}{{ image.path }}" alt="image" />

                                        <!-- Add Arrows -->
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>                              
                                </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <!-- Add Pagination 
                <div class="swiper-pagination mobile"></div>
                -->
               
            </div>
        </div>

    </div>
</div>



