---
layout: default
---

<div class="container-article">
    <div class="article-title">

        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                
                {% for process-post in site.categories.post %}
                    {% if process-post.type contains "post" %}
                        <div class="swiper-slide">
                           
                            <div class="close-fade">
                                <a href="{{site.baseurl}}{{process-post.url}}">
                                    <img class="full-page-img" src="{{site.baseurl}}/img/{{process-post.image}}" alt="image" />
                                </a>
                            </div>
                           
                        </div>
                    {% endif %}
                {% endfor %}
            
            </div>
        </div>

        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">

                {% for member in site.data.members %}
                        <div class="swiper-slide {% if member.tag == 'black' %}white{% endif %}">
                            <p class="title {% if member.tag == 'black' %}white{% endif %}">{{ member.title }}</p>
                        </div>
                {% endfor %}
                
            </div>
        </div>

    </div>
</div>



