---
layout: default
---

<div class="container-article">
    <div class="article-title">

        <div class="free dragscroll">

            <div class="canvas-free">
                {% for image in site.static_files %}
                    {% if image.path contains 'homepage-desktop' %}
                        <img class="full-page-img" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>



