
    <div class="clipper">
        <div class="content">

            <div class="nav {{include.navclass}}">

                <div class="nav-left">
                        <a class="desktop-display" href="{{site.baseurl}}/">
                            About
                        </a>

                </div>

                <div class="nav-middle" id="header-info">
                    <a class="desktop-display" href="{{site.baseurl}}/">
                        Hemptosil
                    </a>
                    <a class="mobile-display">
                        Hemptosil
                    </a>
            </div>

                <div class="nav-right">
                        <a class="desktop-display" href="{{site.baseurl}}/">
                            Archive
                        </a>
                </div>

            </div>

        </div>
    </div>




